<%= render "shared/search_area" %>
<div class="map-container">
  <div id='map'></div>

  <script>
    function initMap() {
      let latlng = new google.maps.LatLng(38.60, 139.5);      
      let styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];
      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5.5,
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);
      <% @onsens.each do |onsen|%>
        ( function() { 
          let markerLatLng = { lat: <%= onsen.latitude %>, lng: <%= onsen.longitude %> }; 
          let marker = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map 
          });
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= onsen_url(onsen.id) %>' target='_blank'><%= onsen.onsen_name %></a>"
          }); 
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        })();
      <% end %>
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
</div>

<div class="" data-turbolinks="false">
  <%= link_to "温泉地を投稿する。", new_onsen_path(@onsens) %>
</div>
<div class="">
  <ul class="onsen-list">
    <% @onsens.each do |onsen| %> 
      <li class="onsen">
        <% if onsen.onsen_image.present? %>
          <%= image_tag onsen.onsen_image.url, class: "onsen-image" %>
        <% else %>
          <%= image_tag 'icon/default-onsen.jpg', class: "onsen-image" %>
        <% end %>
        <div class="onsen-body" data-turbolinks="false">
          <p class="onsen-name"><%= onsen.onsen_name %></p>
          <p class="onsen-address"><%= onsen.address %></p>
          <p class="onsen-introduction"><%= onsen.onsen_introduction %></p>
          <%= link_to "詳細はこちら", onsen, class: "" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
