<div class="onsen-details-header">
  <h2>温泉詳細</h2>
  <%= link_to user_path(@onsen.user), class: "posted-by" do %>
    <% if @onsen.user.image? %>
      <%= image_tag @onsen.user.image.url, class: "posted-by-image" %>
    <% else %>
      <%= image_tag 'icon/default-icon.svg', class: "icon-image" %>
    <% end %>
    <%= @onsen.user.name %>
  <% end %>
</div>
<div class="map-container">
  <div id='map'></div>

  <script>
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= @onsen.latitude %>, lng: <%= @onsen.longitude %>},
      zoom: 15,
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= @onsen.latitude %>, lng: <%= @onsen.longitude %>},
      map: map
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
</div>
<div class="onsen-details-container">
  <div class="onsen-details">
    <% if @onsen.onsen_image.present? %>
      <%= image_tag @onsen.onsen_image.url, class: "onsen-details-image" %>
    <% else %>
      <%= image_tag 'icon/default-onsen.jpg', class: "onsen-details-image" %>
    <% end %>
    <div class="onsen-details-body">
      <p class="onsen-details-name"><%= @onsen.onsen_name %></p>
      <p class="onsen-details-address"><%= @onsen.address %></p>
      <p class="onsen-details-introduction"><%= @onsen.onsen_introduction %></p>
    </div>
  </div>
  <div class="flat-navi" data-turbolinks="false">
    <%= link_to "一覧に戻る", "/" %>
    <% if current_user.present? %>
      <% if current_user.id==@onsen.user_id %>
        <div class="flat-navi">
          <%= link_to "編集する", edit_onsen_path(@onsen), class: "" %>
          <%= link_to "温泉を削除", @onsen, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
