<div class="user-form-container">
  <div class="form-container">
    <h2 class="page-title">アカウント情報の編集</h2>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="user-form-item">
        <%= f.label :email %><br>
        <%= f.email_field :email, autocomplete: "email", class: "user-form-input" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="user-form-item">
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br>
        <%= f.password_field :password, autocomplete: "new-password", class: "user-form-input" %>
        <% if @minimum_password_length %>
          <br>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>

      <div class="user-form-item">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-form-input" %>
      </div>

      <div class="user-form-item">
        <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "user-form-input" %>
      </div>

      <div class="user-form-item" data-turbolinks="false">
        <%= f.submit t('.update'), class: "form-link blue-button" %>
        <%= link_to t('devise.shared.links.back'), edit_user_path(@user), class: "form-link" %>
        <div><%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure'), turbo_confirm: t('.are_you_sure') }, method: :delete, class: "form-link red-link" %></div>
      </div>
    <% end %>
  </div>
</div>
