<div class="user-form-container">
  <div class="form-container">
    <h2>プロフィール編集</h2>
    <%= form_with model: @user, local: true do |f| %>
      <%= render "shared/error_messages", obj: @user %>
      <div class="user-form-item">
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: "user-form-input" %>
      </div>
      <div class="user-form-item">
        <%= f.label :introduction, "自己紹介" %>
        <%= f.text_area :introduction, class: "user-form-input" %>
      </div>
      <div class="user-form-item">
        <%= f.label :image, "アイコン画像" %>
        <%= f.file_field :image, class: "user-form-input" %>
        <span><%= f.check_box :remove_image %>画像を削除する</span>
      </div>
      <div class="user-form-item" data-turbolinks="false">
        <%= f.submit "更新", class: "form-link blue-button" %>
        <%= link_to "キャンセル", user_path(@user), class: "form-link" %>
        <%= link_to "アカウント情報を変更する", edit_user_registration_path, class: "form-link blue-link" %>
      </div>
    <% end %>
  </div>
</div>
