<div class="user-container">
  <div class="account-information-header">
    <h2 class="page-title">プロフィール</h2>
    <% if current_user.present? %>
      <% if current_user==@user %>
        <div class="blue-link" data-turbolinks="false">
          <%= link_to "編集", edit_user_path(@user) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="user-account-container flex-to-block">
    <div class="account-information-wrapper">
      <div class="account-information">
        <% if @user.image? %>
          <%= image_tag @user.image.to_s, class: "icon-image" %>
        <% else %>
          <%= image_tag 'icon/default-icon.png', class: "icon-image" %>
        <% end %>  
        <h3 class="account-information-name">
          <%= @user.name %>
        </h3>
        <div class="account-information-introduction">
          <%= @user.introduction %>
        </div>
        <div class="account-information-link" data-turbolinks="false">
          <%= link_to collection_user_path(@user), class: "link-to-collections" do %>
            <span><i class="fa fa-flag"></i> 行った温泉(<%= @collections.count %>件)</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="added-onsen-list">
      <h3 class="added-onsen-title">行きたい温泉(<%= @favorites.count %>件)</h3>
      <div class="added-onsen">
        <% @favorites.each do |onsen| %>
          <div class="added-onsen-body" data-turbolinks="false">
            <p class="onsen-name added-onsen-item"><%= link_to onsen.onsen_name, onsen_path(onsen) %></p>
            <p class="added-onsen-item"><%= onsen.address %></p>
            <p class="added-onsen-item"><%= onsen.onsen_introduction %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-post-container">
    <div class="user-post-title">
      <h2 class="page-title">投稿</h2>
      <span>(<%= @onsen.count %>件)</span>
    </div>
    <div class="onsen-container">
      <ul class="onsen-list">
        <% @onsen.each do |onsen| %> 
          <li class="onsen">
            <div class="onsen-image-wrapper">
              <% if onsen.onsen_image.present? %>
                <%= image_tag onsen.onsen_image.to_s, class: "onsen-image" %>
              <% else %>
                <%= image_tag 'icon/default-onsen.jpg', class: "onsen-image" %>
              <% end %>
            </div>
            <div class="onsen-body" data-turbolinks="false">
              <p class="onsen-name"><%= link_to onsen.onsen_name, onsen_path(onsen) %></p>
              <p class="onsen-address"><%= onsen.address %></p>
              <p class="onsen-introduction"><%= onsen.onsen_introduction %></p>
              <div class="onsen-date-group">
                <p class="onsen-date">投稿日：<%= onsen.created_at.to_s(:datetime_jp) %></p>
                <p class="onsen-date">更新日：<%= onsen.updated_at.to_s(:datetime_jp) %></p>
              </div>
              <div class="onsen-button-group">
                <%= render "shared/fav_btn", onsen: onsen %>
                <%= render "shared/collection_btn", onsen: onsen %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
