<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>HotSpringApp</title>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="header-container">
          <h2 data-turbolinks="false"><%= link_to "Discover Hot Springs", "/" %></h2>
          <% if (!user_signed_in?) %>
            <div class="">
              <div class="header-list" data-turbolinks="false">
                <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "header-list-item" %>
                <%= link_to "ログイン", new_user_session_path, class: "header-list-item" %>
                <%= link_to "新規登録", new_user_registration_path, class: "header-list-item" %>
              </div>
              <div class="drop-down">
                <button class="btn btn-outline-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag 'icon/default-icon.png', class: "header-icon" %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-turbolinks="false">
                  <%= link_to "ホーム", "/", class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "dropdown-item" %>
                  <%= link_to "ログイン", new_user_session_path, class: "dropdown-item" %>
                  <%= link_to "新規登録", new_user_registration_path, class: "dropdown-item" %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="">
              <div class="header-list" data-turbolinks="false">
                <%= link_to "ホーム", "/", class: "header-list-item" %>
                <%= link_to "温泉地を投稿する", new_onsen_path, class: "header-list-item" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-list-item" %>
                <%= link_to user_path(current_user) do %>
                  <% if current_user.image? %>
                    <%= image_tag current_user.image.url, class: "header-icon" %>
                  <% else %>
                    <%= image_tag 'icon/default-icon.png', class: "header-icon" %>
                  <% end %>
                <% end %>
              </div>

              <div class="drop-down">
                <button class="btn btn-outline-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.image? %>
                    <%= image_tag current_user.image.url, class: "header-icon" %>
                  <% else %>
                    <%= image_tag 'icon/default-icon.png', class: "header-icon" %>
                  <% end %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-turbolinks="false">
                  <%= link_to "温泉地を投稿する", new_onsen_path, class: "dropdown-item blue-link" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "ホーム", "/", class: "dropdown-item" %>
                  <%= link_to "アカウント", user_path(current_user), class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item red-link" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </header>

      <p class="notice"><%= notice %></P>
      <P class="alert"><%= alert %></p>

      <%= yield %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
