<!DOCTYPE html>
<html>
  <head>
    <title>HotSpringApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></P>
    <P class="alert"><%= alert %></p>

    <header>
      <% if (!user_signed_in?) %>
        <div class="header-list">
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", new_user_registration_path, class: "button-orange" %>
        </div>
      <% else %>
        <div class="header-list">
          <%= current_user.name %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "" %>
          <%= link_to "アカウント", user_path(current_user), class: "" %>
        </div>
      <% end %>
    </header>


    <%= yield %>
  </body>
</html>
